<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>WordToVoc</title>
</head>


<body>

<h1 class="apple-heading">Word To <span id="apple-yellow">Voc</span></h1>

<div id="wrapper">

  <form id="paper" action="{{ url_for('submit') }}" method="post">
    <textarea name="text" class="apple-textarea" placeholder="Enter your text here..."></textarea>
    <br> <br>
    <input class="apple-button" type="button" value="Language">
    <input class="apple-button" type="submit" value="Create">

  </form>

</div>

<h1 class="apple-heading">Translated words</h1>
    <ul>
    {% for key, value in words.items() %}
        <li>{{ key }} - {{ value }}</li>
    {% endfor %}
</ul>

</body>
</html>